# Ansible Configurations

###############################################################################
#
# Any time Ansible runs, it will reference the ansible.cfg file to look up
# and custom specified ansible settings. Preference in this order:
#
# The order in which ansible will reference a ansible.cfg file is as follows:
#
#   1. ANSIBLE_CONFIG               <-- Environmental Variable if set
#   2. ansible.cfg                  <-- In current directory
#   3. ~/.ansible.cfg               <-- In user home directory
#   4. /etc/ansible/ansible.cfg     <-- In system shared directory
#
# For more ansible configuration settings see:
#   - https://docs.ansible.com/ansible/latest/reference_appendices/config.html
#
###############################################################################


[defaults]
log_path = ./ansible.log

# Don't let SSH check host keys
host_key_checking = False

# Turn off warnings about depreciations of modules
deprecation_warnings = False

# Default path to look for roles
roles_path = ./roles

# Saves retry files here when playbook fails
retry_files_save_path = ./retry

# Turn off cowsay formatted messages
nocows = True

# Callback Plugins For Ansible
#   List of callback plugin: https://docs.ansible.com/ansible/latest/plugins/callback.html
#   This callback plugin: https://docs.ansible.com/ansible/latest/collections/ansible/posix/profile_tasks_callback.html
callback_whitelist = profile_tasks
stdout_callback = yaml
ansible.posix.skippy = True
